<div class="container">
  <h1><%= @restaurant.name %></h1>
  <p><strong>category:</strong> <%= @restaurant.category %></p>
  <p><strong>address:</strong> <%= @restaurant.address %></p>
  <p><strong>Phone number:</strong> <%= @restaurant.phone_number %></p>
  <br>
  <br>
  <p><%= link_to "Show all reviews of this restaurant", restaurant_reviews_path(@restaurant), :class => "btn btn-secondary" %></p>
  <br>
  <h2>New review</h2>
  <br>
  <%= render './reviews/form' %>
</div>
