<div class="container">
  <h1><%= @restaurant.name %></h1>
  <p><strong>category:</strong> <%= @restaurant.category %></p>
  <p><strong>address:</strong> <%= @restaurant.address %></p>
  <p><strong>Phone number:</strong> <%= @restaurant.phone_number %></p>
  <br>
  <p><%= link_to "Add a review to this restaurant", new_restaurant_review_path(@restaurant), :class => "btn btn-primary" %></p>
  <br>
  <p><%= link_to "Show all reviews of this restaurant", restaurant_reviews_path(@restaurant), :class => "btn btn-primary" %></p>
  <br>
  <p><%= link_to "Back to restaurants list", restaurants_path, :class => "btn btn-secondary" %></p>
</div>
